* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  letter-spacing: -0.25px;
}

.header {
  background-color: #000;
  padding: 8px 0px 8px 0px;
  height: auto;
  display: flex;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}

.navigation.logo {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 165px;
  margin-left: 20px;
  height: 75px;
}

.navbar-button {
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 17px 36px 0px 0px;
  display: flex;
  justify-content: baseline;
  font-weight: 400;
  font-size: 16px;
  font-family: Verdana;

}

.navbar {
  padding: 0;

}

.navbar ul {
  padding: 0%;
  margin: 0px;
}

.buttons button {
  margin: 0px 8px 0px 0px;
  border-radius: 35px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 12px 12px;
}


.buttons a {
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

button.order-btn {
  background-color: #ed1c24;
  border-color: #ed1c24;
  margin-right: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.arrow i {
  line-height: 1;
  font-weight: 900;
  background-color: #fff;
  color: red;
  border-radius: 23px;
  padding: 6px 7px;
  margin-left: 10px;
}

@media screen and (max-width: 1348px) {
  .mobile-hide {
    display: none;
  }

  .order-btn>a {
    display: flex;
    flex-direction: row-reverse;
  }

  .order-btn span {
    margin-left: -6px;
    margin-right: 10px;
  }
}

@media screen and (max-width:991px) {
  .buttons button {
    padding: 6.5px 16px;
  }

  .arrow i {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar ul {
    display: none;
  }
}

@media screen and (max-width:990px) {
  .web_banner {
    display: none;
  }
}

@media screen and (min-width:990px) {
  .Mobile-banner {
    display: none;
  }
}

/*Product*/

.product-brand {
  background-color: #000;
  padding: 70px 15px;
  display: flex;
}

.product-brand-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
}

.product-brand-heading>h2 {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 8px;
}

.product-brand-logo-text {
  font-family: "futurak";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
}

.product-brand-heading p {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 40px;
  text-decoration: none;
}

.product-brand-img figure a img {
  width: 100% !important;
  object-fit: contain;
  height: 100%;
  background-color: #ffff;
  padding: 20px 19px;
  border-radius: 3px;
}

.product-brand-img figure {
  height: 140px;
}

.brand-btn-holds a {
  display: block;
  width: 174px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #ffffff;
  margin: auto;
  margin-top: 24px;
  text-align: center;
}

.product-btn {
  padding: 0%;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .product-brand .hello .product-brand-img {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .product-brand .hello .product-brand-img {
    padding: 15px 10px 15px 10px !important;
  }
}

.product-brand .hello .product-brand-img {
  margin: 0px !important;
  padding: 0px 15px;
}

/* Franchises section */


.Franchises {
  position: relative;
  background-color: #0f0f0f;
  padding: 70px;
  background-color: #0f0f0f;
  display: flex;
}

.cutsom-row-pdb {
  margin-bottom: 48px;
}

.main-custom-heading {
  text-align: center;
}

.main-custom-heading h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "butler";
  font-style: normal;
  font-size: 52px;
  line-height: 60px;
  color: #ffffff;
}

.main-custom-heading h2 span {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
}

.main-custom-heading p {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 48px;
}

.right-side-one {
  position: absolute;
  right: 32px;
  top: 32px;
}


.franchise-address>small {
  font-family: "Lalita One";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: block;
}

.franchise-address h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 24px;
}

.franchise-address span {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.franchise-address p {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}

.franchise-address p a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.get-btn {
  width: 174px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  height: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  margin-top: 40px;
}

.get-btn .arrow-second {
  font-size: 18px;
  font-weight: 400;
}

.get-btn a {
  padding: 0px;
  text-decoration: none;
  color: #fff;
}

.arrow-second i {
  background-color: #fff;
  color: red;
  border-radius: 23px;
  font-size: 18px;
  padding: 6px 7px;
  margin-left: 7px;
}

.franchise-image>img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:766px) {
  .Franchises {
    padding: 0px;
  }

  .revers-onlyre {
    flex-direction: column-reverse;
  }

  .franchise-address {
    text-align: center;
  }

  .get-btn {
    margin-top: 20px;
  }
}

/* Second Section Franchises*/

.franchises-second {
  padding: 70px 0px 25px;
  background-color: #000000;
  text-align: center;
  position: relative;
  z-index: 10;
  display: flex;
}

@media screen and (max-width: 768px) {
  .franchises-second {
    padding: 32px 0px 38px !important;
  }
}

@media screen and (max-width: 768px) {
  .new-card-box {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .new-card-box>img {
    margin-top: 32px;
  }
}

.franchises-second .snp-left-side-two {
  position: absolute;
  top: 40px;
  z-index: -1;
  padding: 0 !important;
  width: 100%;

}

.franchises-second .snp-left-side-two>img {
  padding-left: 33px;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1400px) {
  .franchises-second .snp-left-side-two>img {
    height: 1835px;
  }
}

.new-card-box {
  text-align: center;
  margin-bottom: 32px;
}

.new-card-box img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.new-card-box small {
  font-family: "apercu";
  color: #ed1c24;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 15px;
  display: block;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 24px;
}

.new-card-box h3 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  font-family: "aparcu";
  text-align: center;
  line-height: 29px;
  margin-bottom: 18px;
}

.new-card-box span {
  font-family: "Lilita One";
}

.new-card-box p {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  height: 36px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  margin-bottom: 12px;
  overflow: hidden;
}

.new-card-box a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  padding: 0px;
}

.promotion-section {
  background-color: #0f0f0f;
  padding: 48px 0px;
  width: 100%;
}

.promotion-image img {
  width: 100%;
}

.bg-green {
  background-color: #28a745;
  border: 1px solid #28a745 !important;
}

.bg-green span i {
  color: #28a745;
}

.bg-green:hover {
  background-color: transparent;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .new-card-box- {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .promotion-section {
    padding: 32px 15px 32px !important;
  }
}

.franchises-express-section {
  background-color: #000000;
  padding-top: 60px;
}


.franchises-express-section .row {
  row-gap: 20px;
}

.main-position-hold {
  justify-content: center;
}

.franchises-express-section h2 small {
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  line-height: 31px;
}

.location-card-box {
  background-color: #fff;
  height: 230px;
  border-radius: 4px;
  text-align: center;
  padding: 25px 24px;
  margin: auto;
}

.location-card-box img {
  display: block;
  margin: auto;
  margin-bottom: 16px;
}

.location-card-box small {
  color: #ed1c24;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 4px;
  line-height: 12px;
  margin-bottom: 8px;
}

.location-card-box h4 {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.location-card-box span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .insta-feed-heading>h3 {
    margin-top: 0 !important;
  }
}

/* Footer-Section */

.footer-section {
  color: #fff;
  width: 100%;
  padding: 70px 15px 0px 15px;
  background-color: #0f0f0f;
  position: relative;
}

.custom_container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer-data-box {
  display: grid;
  width: 100%;
  grid-template-columns: 1.5fr 0.8fr 1fr 0.8fr;
  gap: 30px 45px;
  grid-template-rows: auto;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.footer-data-one {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-data-one .footer-logo {
  margin: 0% !important;
  width: 140px;
  padding-top: 0%;
  padding-bottom: 24px;
}

.web-logo {
  width: 140px;
  height: 64px;
}

.footer-data-one p {
  margin: 0%;
  font-family: "my";
  color: #b9b2a8;
  text-align: left;
  line-height: 21px;
  font-size: 15px;
  letter-spacing: 0.03px;
  font-weight: 400;
  font-style: normal;
  padding-right: 0px;
  padding-bottom: 23px;
}

.info-links {
  padding: 0px;
  margin: 0px;
}

ul.info-links li {
  display: inline-block;
  margin-right: 10px;
  list-style: none;
}

ul.info-links li a {
  padding: 0%;
  color: #b9b2a8;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-data-two {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-box-heading {
  position: relative;
  padding-bottom: 24px;
}

.footer-box-heading h3 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-family: "my";
  line-height: 19px;
  margin-bottom: 0px;
}

.detail-box-contect-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.detail-box-contect-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0px 5px;
  padding-bottom: 16px;
}

.detail-box-contect-list a {
  margin: 0px;
  padding: 0px;
}

.detail-box-contect-list li a {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #b9b2a8;
  font-family: "my";
  text-decoration: none;
}

.footer-contect-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.contect-heading {
  margin-bottom: 0px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-contect-list li {
  list-style: none;
  display: flex;
  padding-bottom: 16px;
}

.footer-contect-list li a {
  font-family: "my";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #b9b2a8;
  padding: 0px;
  text-decoration: none;
}

.social-links {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.social-links>a {
  display: flex;
  align-items: center;
  margin-right: 8px;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ed1c24;
  color: #fff;
  border-radius: 50px;
  position: relative;
}

.social-links>a>i {
  color: #ffffff;
  font-size: 17px;
  top: 11px;
  font-size: 20px;
  left: 10px;
  position: absolute;
}

.google-links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.google-links li {
  margin-bottom: 13px;
}

.google-links a {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .footer-section {
    padding: 40px 15px 0px !important;
  }
}

@media (min-width: 786px) and (max-width:1024px) {
  .footer-data-box {
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-areas: ". .";

  }
}

@media (max-width: 785px) {
  .footer-data-box {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
  }

  .hide-responsive {
    display: none !important;
  }
}


@media (max-width: 540px) {
  .footer-data-box {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    gap: 22px 0px;
  }
}


@media (max-width: 540px) {

  .footer-contect-list,
  .footer-data-two,
  .detail-box-contect-list {
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .main_custom_heading h2 {
    margin-bottom: 8px;
    font-size: 24px !important;
    line-height: 30px !important;
  }
}

@media (max-width: 540px) {
  .footer-data-one {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .footer-data-one .footer-logo {
    margin: 0px !important;
    width: 135px !important;
    padding-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .footer-data-one p {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .footer-box-heading {
    padding-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .footer-socail-links {
    justify-content: center;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 768px) {
  .googles-links-holder {
    text-align: center;
  }
}

@media (max-width: 785px) {
  .resp-only-show {
    display: block !important;
  }

  .mid-content a {
    padding: 0;
  }

  .google-links ul li {
    display: inline;
  }
}

@media (max-width: 785px) {
  .social-links {
    justify-content: center;
    margin-bottom: 10px;
  }

  .social-links {
    margin-bottom: 10px !important;
  }

  .google-links {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .detail-box-contect-list {
    padding-top: 15px !important;
  }

  .footer-contect-list {
    padding-top: 15px !important;
  }
}

/* second-footer */


footer {
  padding: 15px;
  background-color: #000000;
  margin-top: auto;
}

.footer_copyright {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.footer_copyright a {
  margin: 0%;
  padding: 0%;
  color: #fff;
  text-decoration: none;
}

.footer_copyright span {
  color: #fff;
  padding: 0%;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}



@media screen and (max-width: 540px) {
  .footer_copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {

  .footer_copyright span:first-child,
  .footer_copyright a {
    padding-bottom: 8px;
  }
}